@model IEnumerable<AgroVA.Application.DTOs.LoadDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreenWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DryWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Register)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WholePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farmer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harvest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GreenWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DryWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Register)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WholePercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Farmer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harvest.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
